
body {
    background-image: url("../img/background_img.jpg");
    background-size : 100% 100%;
    background-repeat : no-repeat;
    margin:0px;
    padding:0px;
    position: 0px 0px 0px 0px;
    
}

.imglogo{
	position:absolute;left:2%;top:2%;
}
